<% layout(layoutPath2) -%>
      <script src="/js/myaudio.js"></script>
      <div class="bs-docs-featurette" style="padding-top:35px; padding-bottom:25px; background: #f4f4f7">
         <div class="container">
           <div class="row">
             <div class="col-md-4">
               <% if(user.profile_url) { %>
                 <img src ="<%=user.profile_url%>" style = "width:150px; height: 150px">
               <% }else {%>
                 <img src="http://placehold.it/150x150">
               <%} %>
             </div>
             <div class="col-md-8">
               <h2 class="profileName">
                  <p style=""><%= user.firstName %> <%= user.lastName %></p>
               </h2>
               <h4>Status: 
               <% if(user.status) {%>
               <%= user.status %> 
               <% } else { %>
                  Set your status <a href = "/editsetting">Here!</a>
                  <% } %></h4>
            </div>
           </div>
         </div>
      </div>
      <div class="bs-docs-featurette">
      <div class="container">
         <br>
         <div class="col-lg-12">
            <ol class="breadcrumb">
               <li><a href="#">About</a></li>
               <li><a href="#">My Jams</a></li>
               <li><a href ="#">My Badges</a></li>
            </ol>
         </div>
         <!-- body content-->
         <div style="background-color:white; margin-bottom:20px; border-radius: 3px;" class="row">
            <div class="col-md-12">
               <div class="divider"></div>
               <h2><strong>About Me:</strong></h2>
               <p>
               <% if(user.about) {%>
               <%= user.about%>
               <% } %>
               </p>
            </div>
         </div>
         </div>
         </div>
         <div class="bs-docs-featurette">
         <div class="container">
         <div style="background-color:white; margin-bottom:20px; border-radius: 3px;" class="row">
            <div class="col-md-9">
               <div class="divider"></div>
               <h2><strong>My Jams</strong></h2>
               <div class="row">
                  <!-- Current Links -->
                   <% if(user.youtube_links) {%>
                   <% user.youtube_links.forEach(function(link){ %>
                     <div class="col-md-6"><iframe style="width:100%; height: 300px" src="http://www.youtube.com/embed/<%=link%>"
                     frameborder="0" allowfullscreen=""></iframe></div>
                   <% }) %>
                   <%} %>
               </div>
            </div>
            <div class ="col-md-3">
              <h2><strong>My Songs</strong></h2>
              <div class="bs-component">
                <div class="list-group">
                  <% if(user.jams && user.jams != []) {%>
                   <% user.jams.forEach(function(jam, index){ %>
                     <a class="list-group-item jam_item">
                       <%=jam.song_title %>
                     </a>
                   <% }) %>
                   <%} else { %>
                   <a class="list-group-item">
                       No Jams Yet
                     </a>
                   <% }%>
                </div>
              </div>
            </div>
         </div>
         </div>
         </div>
         <div style= "display:none" id="hidden_username"><%= user.username %></div>

         
